# Ignore Data
data/
*.nc
*.zarr

# Ignore System Logs & Slurm outputs
*.out
*.err
logs/
output.log

# Ignore Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore local config (optional, but good practice if it contains local paths)
# configs/config.yaml 

# Ignore OS files
.DS_Store
